<div id="editpass" aria-hidden="true" class="modal-editpass">
  <div class="modal-editpass__wrapper modal-wrapper">
    <form class="modal-editpass__content modal-content">
      <label class="modal-editpass__label modal-label" for="newpass">Old password <span class="label-star">*</span></label>
      <input class="modal-editpass__input modal-input" type="mail" id="newpass" />
      <label class="modal-editpass__label modal-label" for="newpass">New password <span class="label-star">*</span></label>
      <input class="modal-editpass__input modal-input" type="mail" id="newpass" />
      <label class="modal-editpass__label modal-label" for="repeatpass">Repeat new password <span class="label-star">*</span></label>
      <input class="modal-editpass__input modal-input" type="mail" id="repeatpass" />
      <button type="submit" class="modal-editpass__btn modal-btn">Change password</button>
      <button data-close type="button" class="modal-editpass__close modal-btn-close"><svg class="" data-close>
       <use href="./img/svg/sprite.svg#close" data-close></use>
      </svg></button>
    </form>
  </div>
</div>