<div id="register" aria-hidden="true" class="modal-reg">
  <div class="modal-reg__wrapper modal-wrapper">
    <form class="modal-reg__content modal-content js-register" name="registration">
      <div class="modal-reg__inp-wrapper">
        <label class="modal-reg__label modal-label">Email <span class="label-star">*</span><input class="modal-reg__input modal-input js-input js-input-email" type="text" name="email"/></label>
        <div class="msgEmail"></div>
      </div>
      <div class="modal-reg__inp-wrapper">
        <label class="modal-reg__label modal-label" >Name <span class="label-star">*</span><input class="modal-reg__input modal-input js-input js-input-name" type="text" name="name"/><div class="msgName"></div></label>
        
        <label class="modal-reg__label modal-label">Surname <span class="label-star">*</span><input class="modal-reg__input modal-input js-input js-input-surname" type="text" name="surname"/><div class="msgSurname"></div></label>  
      </div>
      <div class="modal-reg__inp-wrapper">
        <label class="modal-reg__label modal-label">Password <span class="label-star">*</span> <input class="modal-reg__input modal-input js-input js-input-pass" type="password" name="password"/><div class="msgPass"></div></label>
       
        <label class="modal-reg__label modal-label">Repeat password <span class="label-star">*</span><input class="modal-reg__input modal-input js-input js-input-passRepeat" type="password" name="passwordRepeat"/><div class="msgRepPass"></div></label>
      </div>
       <div class="modal-reg__inp-wrapper">
        <label class="modal-reg__label modal-label">Location <span class="label-star">*</span> <input class="modal-reg__input modal-input js-input js-input-location" type="text" name="location"/><div class="msgLocation"></div></label>
       
        <label class="modal-reg__label modal-label">Age <span class="label-star">*</span><input class="modal-reg__input modal-input js-input js-input-age" name="age"/><div class="msgAge"></div></label>
      </div>
      
      <input class="modal-reg__checkbox js-input-checkbox" type="checkbox" id="agree" name="agreement" />
      <label class="modal-reg__label-agree modal-label" for="agree">Clicking on the button, you consent to the processing of your personal data.</label>


      <button type="submit" class="modal-reg__btn modal-btn">Sign up</button>
      <button data-close type="button" class="modal-reg__close modal-btn-close"><svg data-close class="">
       <use data-close href="./img/svg/sprite.svg#close"></use>
      </svg></button>
    </form>
  </div>
</div>
