<div id="register" aria-hidden="true" class="modal-reg">
  <div class="modal-reg__wrapper modal-wrapper">
    <form class="modal-reg__content modal-content">
      <div class="modal-reg__inp-wrapper">
        <label class="modal-reg__label modal-label">Email <span class="label-star">*</span><input class="modal-reg__input modal-input" type="mail" /></label>
      </div>
      <div class="modal-reg__inp-wrapper">
        <label class="modal-reg__label modal-label" >Name <span class="label-star">*</span><input class="modal-reg__input modal-input" type="text" /></label>
        
        <label class="modal-reg__label modal-label">Surname <span class="label-star">*</span><input class="modal-reg__input modal-input" type="text" /></label>  
      </div>
      <div class="modal-reg__inp-wrapper">
        <label class="modal-reg__label modal-label">Password <span class="label-star">*</span> <input class="modal-reg__input modal-input" type="password" /></label>
       
        <label class="modal-reg__label modal-label">Repeat password <span class="label-star">*</span><input class="modal-reg__input modal-input" type="password" /></label>
      </div>
       <div class="modal-reg__inp-wrapper">
        <label class="modal-reg__label modal-label">Location <span class="label-star">*</span> <input class="modal-reg__input modal-input" type="text" /></label>
       
        <label class="modal-reg__label modal-label">Age <span class="label-star">*</span><input class="modal-reg__input modal-input" type="number" /></label>
      </div>
      
      <input class="modal-reg__checkbox" type="checkbox" id="agree" checked/>
      <label class="modal-reg__label-agree modal-label" for="agree">Clicking on the button, you consent to the processing of your personal data.</label>


      <button type="submit" class="modal-reg__btn modal-btn">Sign up</button>
      <button data-close type="button" class="modal-reg__close modal-btn-close"><svg data-close class="">
       <use data-close href="./img/svg/sprite.svg#close"></use>
      </svg></button>
    </form>
  </div>
</div>
