<div id="signin" aria-hidden="true" class="modal-signin">
  <div class="modal-signin__wrapper modal-wrapper">
    <form class="modal-signin__content modal-content js-signin" name="signin">
      <label class="modal-signin__label modal-label" for="email">Email <span class="label-star">*</span></label>
      <input class="modal-signin__input modal-input _req js-input js-input-email" id="email" type="text" name="email"/>
      <span class="message-email"></span>
      <label class="modal-signin__label modal-label" for="pass">Password <span class="label-star">*</span></label>
      <input class="modal-signin__input modal-input _req js-input js-input-pass" type="password" id="pass" name="password"/>
      <span class="message-password"></span>
      <button type="submit" class="modal-signin__btn modal-btn">Login in</button>
      <button data-close type="button" class="modal-signin__close modal-btn-close"><svg class="" data-close>
       <use href="./img/svg/sprite.svg#close" data-close></use>
      </svg></button>
    </form>
  </div>
</div>