<div id="signin" aria-hidden="true" class="modal-signin">
  <div class="modal-signin__wrapper modal-wrapper">
    <form class="modal-signin__content modal-content">
      <label class="modal-signin__label modal-label" for="email">Email <span class="label-star">*</span></label>
      <input class="modal-signin__input modal-input" type="mail" id="email" />
      <label class="modal-signin__label modal-label" for="pass">Password <span class="label-star">*</span></label>
      <input class="modal-signin__input modal-input" type="mail" id="pass" />
      <button type="submit" class="modal-signin__btn modal-btn">Login in</button>
      <button data-close type="button" class="modal-signin__close modal-btn-close"><svg class="" data-close>
       <use href="./img/svg/sprite.svg#close" data-close></use>
      </svg></button>
    </form>
  </div>
</div>