.header {
  &__container {
    min-height: 89px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $dark-grey;
  }

  &__link {
    font-size: rem(18);
    line-height: 1.2;
    font-weight: 700;
    color: $dark-grey;
    margin-left: 2px;
    transition: color 0.3s ease;
    &:hover {
      color: $main-color;
    }
  }
  @media (max-width: 700px) {
    display: none;
  }
}

.nav {
  &__list {
    display: flex;
    gap: 0 20px;
  }

  &__link {
    font-weight: 700;
    font-size: rem(18);
    line-height: 1.2;
    color: $dark-grey;
    transition: color 0.3s ease;
    &:hover {
      color: $main-color;
    }
  }
}

.current-page {
  color: $main-color;
}



