<footer class="footer @@class-bg">
  <div class="footer__container container">
    <h2 class="footer__title">Contacts</h2>
    <p class="footer__txt-up">Want to know more or just chat?<br> You are welcome!</p>
    <button class="footer__btn-sendmsg" type="button" data-sendMsg>Send message</button>
    <ul class="footer__socials-list">
      <li class="footer__socials-item">
        <a class="footer__socials-link btn" href="#"> Instagram</a>
      </li>
      <li class="footer__socials-item">
        <a class="footer__socials-link btn" href="#"> Vk</a>
      </li>
      <li class="footer__socials-item">
        <a class="footer__socials-link btn" href="#"> Telegram</a>
      </li>
      <li class="footer__socials-item">
        <a class="footer__socials-link btn" href="#"> Mail</a>
      </li>
      <li class="footer__socials-item">
        <a class="footer__socials-link btn" href="#"> GitHub</a>
      </li>
      <li class="footer__socials-item">
        <a class="footer__socials-link btn" href="#"> Phone</a>
      </li>
    </ul>
    <p class="footer__txt-down">Design by <a href="/">DL Academy</a> <br> Program code from Maksim</p>
  </div>
</footer>
