<header class="header">
  <div class="container">
    <div class="header__container">
      <a class="header__link current-page" href="/" aria-label="link to the main page">Home</a>
      <nav class="header__nav nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="blog.html" class="nav__link">My blog</a></li>
          <li class="nav__item js-btn-signin"><a href="#" class="nav__link" data-signin>Sign In</a></li>
          <li class="nav__item js-btn-register"><a href="#" class="nav__link" data-register>Register</a></li>
          <li class="nav__item js-btn-profile hidden"><a href="profile.html" class="nav__link">My profile</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
