<section class="profile">
  <div class="profile__container container">
    <h1 class="profile__title">My profile</h1>
    <div class="profile__content">
      <div class="profile__img">
        <!-- <img class="profile__photo" src="#" alt="user photo"> -->
      </div>
      <div class="profile__nav">
        <ul class="profile__user-desc">
          <li class="profile__item"><span>Name:</span>Maksim</li>
          <li class="profile__item"><span>Surname:</span>Sudilovskiy</li>
          <li class="profile__item"><span>Email:</span>keddromaks@vk.com</li>
          <li class="profile__item"><span>Password:</span>********</li>
          <li class="profile__item"><span>Location:</span>Tolyatti</li>
          <li class="profile__item"><span>Age:</span>25</li>
        </ul>
        <button class="profile__change-pass btn-white" type="button">Change password</button>
        <button class="profile__change-data btn-white" type="button">Change other data</button>
        <button class="profile__delete-acc btn-white" type="button">Delete account</button>
      </div>
    </div>
  </div>
</section>