<section class="about">
  <div class="about__container container">
    <h2 class="about_title">About me</h2>
    <ul class="about__list">
      <li class="about__item">
        <p class="about__txt">
          Aliquam tortor molestie turpis est tristique. Congue diam orci amet
          quis semper ut. Vitae aenean nibh facilisis urna, ultricies euismod
          nunc. Commodo fringilla sit hendrerit consequat. Vel ac elit vel
          sagittis.
        </p>
      </li>
      <li class="about__item">
        <p class="about__txt">
          Tincidunt id quis pellentesque rutrum pretium. Egestas aliquam dictum
          ipsum nisl, sed pulvinar. Commodo elit sed a fermentum non justo.
          Etiam platea consectetur.
        </p>
      </li>
      <li class="about__item">
        <p class="about__txt">
          Quam ipsum odio tellus etiam aliquam dolor ut hendrerit. Felis risus
          nec vitae nunc ultricies placerat. Nullam nec felis eu id dolor
          pellentesque tristique.
        </p>
      </li>
    </ul>
  </div>
</section>
