<section class="portfolio">
  <div class="portfolio__container container">
    <h2 class="portfolio__title">Portfolio</h2>
    <div class="portfolio__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="swiper-img" src="img/mysite.jpg" alt="picture my website">
          <div class="swiper-desc">
            <a class="swiper-link" href="#">Learning site for DL Academy courses</a>
            <p class="swiper-txt">A simple multi-page static site. The design layout was in Figma. HTML and CSS were used. The site is responsive and cross-browser, but without adding interactivity via JavaScript.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <img class="swiper-img" src="img/mysite.jpg" alt="picture my website">
          <div class="swiper-desc">
            <a class="swiper-link" href="#">Learning site for DL Academy courses</a>
            <p class="swiper-txt">A simple multi-page static site. The design layout was in Figma. HTML and CSS were used. The site is responsive and cross-browser, but without adding interactivity via JavaScript.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <img class="swiper-img" src="img/mysite.jpg" alt="picture my website">
          <div class="swiper-desc">
            <a class="swiper-link" href="#">Learning site for DL Academy courses</a>
            <p class="swiper-txt">A simple multi-page static site. The design layout was in Figma. HTML and CSS were used. The site is responsive and cross-browser, but without adding interactivity via JavaScript.</p>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev swiper-button"></div>
      <div class="swiper-button-next swiper-button"></div>
    </div>
  </div>
</section>
