<section class="skills">
  <div class="skills__container container">
    <h2 class="skills__title">Skills</h2>
    <p class="skills_txt">I work in such programs as</p>
    <ul class="skills__list">
      <li class="skills__item">
        <img src="../img/icon-html.svg" alt="icon html" />
        <span>HTML 5</span>
      </li>
      <li class="skills__item">
        <img src="../img/icon-css.svg" alt="icon css" />
        <span>CSS/SCSS</span>
      </li>
      <li class="skills__item">
        <img src="../img/icon-js.svg" alt="icon js" />
        <span>JavaScript</span>
      </li>
      <li class="skills__item">
        <img src="../img/icon-git.svg" alt="icon git" />
        <span>Git/GitHub</span>
      </li>
      <li class="skills__item">
        <img src="../img/icon-figma.svg" alt="icon figma" />
        <span>Figma</span>
      </li>
    </ul>
  </div>
</section>
