<section class="profile">
  <div class="profile__container container">
    <h1 class="profile__title">My profile</h1>
    <div class="profile__content">
      <div class="profile__img">
        <img class="profile__photo" src="" alt="">
      </div>
      <div class="profile__nav">
        <ul class="profile__user-desc">
          <li class="profile__item">Name:<span class="profile__name">undefined</span></li>
          <li class="profile__item">Surname:<span class="profile__surname">undefined</span></li>
          <li class="profile__item">Email:<span class="profile__email">undefined</span></li>
          <li class="profile__item">Password:<span class="profile__pass">********</span></li>
          <li class="profile__item">Location:<span class="profile__location">undefined</span></li>
          <li class="profile__item">Age:<span class="profile__age">undefined</span></li>
        </ul>
        <button class="profile__change-pass btn" type="button" data-changepass>Change password</button>
        <button class="profile__change-data btn" type="button" data-changedata>Change other data</button>
        <button class="profile__delete-acc btn" type="button">Delete account</button>
      </div>
    </div>
  </div>
</section>