<section class="user">
  <div class="user__container container">
    <div class="user__top">
      <h1 class="user__title">Maksim <br> Sudilovskiy</h1>
      <p class="user__txt">
        Future front-end developer 25 years old, Tolyatti
      </p>
    </div>
    <div class="slider">
      <div class="slider__wrapper">
        <div class="slider__inner">
          <div class="slider__item"><img class="slider__img" src="img/photo-1.jpg" alt="photo user"></div>
          <div class="slider__item"><img class="slider__img" src="img/photo-2.jpg" alt="photo user"></div>
          <div class="slider__item"><img class="slider__img" src="img/photo-2.jpg" alt="photo user"></div>
          <div class="slider__item"><img class="slider__img" src="img/photo-2.jpg" alt="photo user"></div>
        </div>
      </div>
      <div class="slider__nav">
        <button class="slider__btn_prev slider__btn">
          <svg class="slider__arrow-svg">
            <use href="./img/svg/sprite.svg#arrow-slider"></use>
          </svg>
        </button>
        <div class="slider__bullets"></div>
        <button class="slider__btn_next slider__btn">
          <svg class="slider__arrow-svg">
            <use href="./img/svg/sprite.svg#arrow-slider"></use>
          </svg>
        </button>
      </div> 
    </div>
  </div>
</section>
