html {
  font-size: 16px;
}

body {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 500;
  color: $main-color;
  position: relative;
}

label {
  cursor: pointer;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 0 60px;
  @media (max-width: 700px) {
    padding: 0 20px;
  }
}

.btn {
  display: block;
  padding: 0 16px;
  font-weight: 700;
  font-size: rem(18);
  line-height: 2;
  color: $main-color;
  border: 3px solid $main-color;
  border-radius: 30px;
  background: transparent;
  transition: all 0.3s ease;
  &:hover {
    background: $main-color;
    color: $white;
  }
  &:disabled {
    background: $light-grey;
    color: $light-grey;
  }
}

input[type=checkbox] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.hidden {
  display: none;
}
