body {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 500;
  color: #070707;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 0 60px;
}

.btn-white {
  display: block;
  padding: 0 16px;
  font-weight: 700;
  font-size: rem(18);
  line-height: 2;
  color: #070707;
  border: 3px solid #070707;
  border-radius: 30px;
  background: white;
}
